<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
  	<section>
  	  <h1>
  		<%= gravatar_for @user %>
  		<%= @user.name %>
	  </h1>
  	</section>
    <section>
      <% if @user.hikelogs.any? %>
      <%= render 'shared/stats' %>
      <% end %>
    </section>
    <section>
      <%= render 'shared/followstats' %>
    </section>
  </aside>
  <div class="span7">
    <%= render 'follow_form' if signed_in? %>
  	<% if @user.hikelogs.any? %>
  	  <h3>Hikes (<%= @user.hikelogs.count %>)</h3>
  	  <ol class="hikelogs">
  	  	<%= render @hikelogs %>
  	  </ol>
  	  <%= will_paginate @hikelogs %>
  	<% end %>
  </div>
</div>