<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    Trailing
    <strong id="following" class="stat">
      <%= @user.leaders.count %>
    </strong>
    <%= pluralize_without_count(@user.leaders.count, "Hikist") %>
  </a>
  <a href="<%= leading_user_path(@user) %>">
    Leading
    <strong id="leading" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= pluralize_without_count(@user.followers.count, "Hikist") %>
  </a>
</div>